<div class="director1 m-5 mx-0 pt-5">
  <div class="container">
    <div class="d-flex">
      <div class="">
        <img src="../../../assets/DIRECTORS/tv-rao.jpg" alt="" />
      </div>
      <div class="">
        <div class="heading">
          <h2>T.VENKATESWARA RAO</h2>
          <h3>MANAGING DIRECTOR</h3>
        </div>
        <p>
          An Esteemed Pharma Researcher and an Invigorating Industrialist, Mr.
          TV Rao had been closely associated with the formative period wherein
          the very foundations of the Pharma Industry especially in Hyderabad
          were being made making it as the Realistic Pharma Hub ..And the deep
          passion for the Organic Research has turned the Chemist in him into an
          Industrialist ..for translating the Innate objectives of making drugs
          available to common man at quite an affordable prices..
        </p>
        <p>
          His buoyant attitude and an audacious mind led him to establish the
          Pharma manufacturing facility on his own in alliance with other
          Enterprising Entrepreneurs starting with the development of Pharma
          Intermediates and later shifting the focus on to the Cardinal
          functionality of Bulk drug manufacturing …with the year 2014 finding
          him establishing the Sunlight Active drug Ingredients(P) Ltd
          specializing in the manufacture of Bulk drug Intermediates, Fine and
          Specialty Chemicals, powered with a State of the Art Production
          facilities at IDA Kazipally in the jinnaram Mandal of Sangareddy
          District in Telangana State as also by being the Managing Director of
          Sainor group of Companies, with the perennial passion for Pharma
          Research and Manufacture of Much needed Drugs for over Three decades.
        </p>
        <p>
          All along the course of his vast and wide Journey in tune with the
          developments in the Pharma world, Mr.T.V. Rao grew steadily from step
          to step. inspiring a bunch of Young and Ambitious Industrialists to
          Ride their dreams in the pharma world as also building deep Ethos for
          promoting the same.
        </p>
        <p>
          An Enhanced Visionary and an In- Depth Humanist with a very solid back
          grounding into the manufacture and marketing of Large-scale Bulk
          drugs, Drug Intermediates, Fine and Specialty Chemicals TV Rao is all
          spirited to give his best into the Cherished Pharma Industry. In
          bringing about the Realistic transformation to the Society at large.
          Inviting the Brightest times.
        </p>
      </div>
    </div>
  </div>
</div>
