<div class="director3 m-5 mx-0 pt-5">
  <div class="container">
    <div class="d-flex">
      <div class="">
        <img src="../../../assets/DIRECTORS/vijaya-lakshmi.jpg" alt="" />
      </div>
      <div class="">
        <div class="heading">
          <h2>MRS.VIJAYA LAKSHMI</h2>
          <h3>THE TOWER OF INSPIRATION</h3>
        </div>
        <p>
          Bringing to Reality the time tested adage that "Behind the success of
          everyman is a woman", we have Mrs. Vijayalakshmi, the Director at
          organo-metallics API Ltd as well as Organometallics Pvt Ltd whose
          Invariable Incessant support has turned the dreams of the eminent
          Research Chemist-Industrialist DR. N.V Rao to establish the Mighty
          Empire of organo-metallics with an abounding employee count exceeding
          four thousands, providing her Incisive Analytical skills in not only
          framing the Policies but in Actualizing the Realistic targets,
          standing as a backbone to the Founder-Chairman DR.N.V Rao and the
          Legacy continues.
        </p>

        <p>
          Born to Illustrious parents Mr. SriramMurthy, a retired Superintendent
          with PWD and Mrs. Sita Mahalakshmi at Narsapur in West Godavari of
          Andhra Pradesh proved herself as a scholar in English equipping
          herself with a Master’s degree in English literature apart from
          providing domestic help to her mother in raising her siblings as he
          happened to the eldest with all due care and concern displaying her
          Innate core strength of responsibility ever from a tender age which
          later found its fullest expression in grooming their two children Mr.
          Harsha married to Ms. Yagna and Mr.Hardev wedded to Ms.Snehitha into
          Finest Frontline Leaders of the Organization as also in Raising
          organo-metallics as a Pharma Giant.
        </p>

        <p>
          Mrs. Vijaya Lakshmi’s unstinting efforts at Women Empowerment need a
          special mention as the most laudable effort to mitigate the gender
          Inequality and in Inculcating the Truest spirit of Work culture and a
          Deep Chord of Empathy amongst the Management Teams to stay ahead in
          all Enterprises and also for her Broadness of Heart to reach out
          instantly to the suffering of the Society at large through the highly
          acclaimed CSR Initiatives being undertaken by the organo-metallics.
        </p>

        <p>
          The Sincere efforts of organo-metallics Management found ample
          recognition with the Conferment of the most Prestigious Award of
          "India Pharma Bulk Drug Company of the year award 2020" at the hands
          of Union Minister Shri D.K Sadananda Gowda, highlighting thereby the
          Glorious role of organo-metallics in the Prodigious Growth and
          Development of the Nation and In being recognized by the Federation of
          Telangana Chamber of Commerce and Industry (FTCCI) as an Evergreen
          Enterprise in Establishing Gender Equality for a Sustainable tomorrow
          on the eve of Women's Day celebration as also for the Glittering Award
          from Cyberabad Police & Society for Cyberabad Security Council for
          Supporting SCSC Women safety Initiatives, the List of Eminent
          achievements being endless with numerous Business and Media houses Viz
          TV9 and ZEE Business readily enhancing the Image of organo-metallics
          with their Coveted Awards.
        </p>

        <p>
          And all this without the slightest doubt form the Strategic and
          Stringent Policy matters being instilled into the Body mechanism of
          organo-metallics by Mrs. Vijaya Lakshmi, who remains as the Truest
          Tower of Inspiration to Team organo-metallics all along steering the
          Organization ahead of Times.
        </p>
      </div>
    </div>
  </div>
</div>
