<div class="product-one">
  <div class="container">
    <div class="row">

      <div class="col">
        <h3>n-butyllithium</h3>
      </div>
      <div class="col">
        <img src="../../../assets/images/products/product1.png" alt="">
      </div>
    </div>
  </div>
</div>

<h2>Product Details</h2>

<!-- <div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
</div> -->

<div class="container">
  <div>
    <img src="{{course.image}}" alt="">
  </div>
  <div>
    <h1>{{course.name}}</h1>
  </div>
  <div>
    <div><b>Author: </b>{{course.author}}</div>
    <div><b>saljd:</b>{{course.duration}}</div>
    <div>{{course.type}}</div>
  </div>
  <div>
    <h2>Price: $ {{course.price}}</h2>
  </div>
  <div>
    <p>{{course.description}}</p>
  </div>
</div>
