<div class="about">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="">
    <h2 class="text-center m-5 mx-0">
      <!-- Organometallics company is formed with 2 Well Experienced Directors -->
      The Icons Of Leadership
    </h2>
    <p class="lead">
      <!-- <b>Mr. Talupula Venkateswar Rao,</b> Managing Director of the company, who
      is well versed and also experienced as Techno Commercial in understanding
      all the Organometallics applications, with specialized high end
      application in Pharma, Speciality & Agrochemical Companies, committed,
      customer friendly, and having high credibility in the Industry since 2
      decades. He is using n-butyllithium continuously in various API intermediate
      products and also doing contract manufacturing of API Intermediates to
      Reputed Pharma Companies since many years viz. Viatris (Formerly MYLAN
      LABS), Hetero Drugs, USV Ltd. Etc. -->
      <b>Mr. Talupula Venkateswar Rao,</b> Managing Director of the company, who is well versed and also experienced as Techno Commercial in understanding all the Organometallics applications, with specialized high end application in Pharma, Speciality & Agrochemical Companies, committed, customer friendly, and having high credibility in the Industry since 2 decades.
    </p>
    <p class="lead">
      <!-- <b>Mr. Gaddam Venkata Ramana,</b> 2 decade experienced Director who is
      Technically Sound versatile personality in the field of manufacturing and
      handling of various Organometallic, Metal amides & alkoxides, Grignard
      Reagents & Turbo Grignard, and other Lithium downstream products. Also
      APIs and API Intermediate products. He is also involved in continuously
      manufacturing various Intermediates using Lithium based compounds in the
      site. -->
      <b>Mr. Gaddam venkata Ramana,</b> Director of the company with double decadal experience being Technically versatile In the field of manufacturing and handling of various Organometallic , Metal amides & Alkoxides, Grignard Reagents & Turbo Grignard and other Lithium downstream products in the multi-differentiated verities as APIs and other API intermediate products,being continiuosly involved in the manufacture of various Intermediates using lithium compounds especially n-Butyllithium continuously in various API intermediate products and also indulging in Contract manufacturing of API intermediates to reputed pharma companies viz.Viatris(formerly MYLAN LABS), Hetero drigs, USV Ltd etc
    </p>
    <p class="lead">

    </p>
  </div>
  <div>
    <p class="lead">
     <b> Organometallics</b> company manufacturing all the Organometallic products in
      the Contract Manufacturing Site of Vineet Laboratories Ltd., which is FDA
      approved, ISO 9001 Certified, ISO 14001 certified and ISO 45001 certified
      company, which is established in the year 2007 at Malkapur Village,
      Choutuppal Mandal, Yadadri- Bhuvanagiri District.
    </p>
  </div>

  <div class="r&d">
    <h2 class="text-center m-5 mx-0"><span>R&D</span> ( State-Of-The-Art) </h2>
    <p class="lead">
      To meet the world’s growing demand for lithium downstream products,
      grignard reagents, we focus on testing and understanding new ways to help
      in identifying the problems faced by the customers and resolving with our
      technical expertise..
    </p>
  </div>
</div>
<!-- <div class="container">
  <form method="POST" id="target" action="https://formsubmit.co/el/wutiwo" method="POST">
    <div>
      <input type="text" name="Name" placeholder="Full Name" required>
    </div>
    <div>
    <input type="email" name="Email" placeholder="Email" required>

    </div>
    <div>
      <select name="continent" id="">
        <option value="">option1</option>
        <option value="">option2</option>
        <option value="">option3</option>
        <option value="">option4</option>
        <option value="">option5</option>
      </select>
    </div>
    <div>
    <textarea name="message" id="" placeholder="message" cols="30" rows="10"></textarea>

    </div>
    <button type="submit" class="btn btn-lg btn-dark btn-block">Send Message</button>
  </form>
</div> -->
