<div class="product1">
  <div class="container">
      <div class="row">
        <div class="col">
          <h3>Methyllithium Manufacturers in India</h3>
        </div>
        <div class="col">
          <img src="../../../assets/images/products/product5.png.jpg" alt="">
        </div>
      </div>
      <div class="my-4">
        <h3>Product Description:</h3>
        <ul>
          <li>CAS Number : 598-30-1</li>
          <li>Molecular Formula : C4H9Li</li>
          <li>Molecular Weight : 64.1g/mol</li>
          <li>In solvents : Cyclohexaner</li>
        </ul>
      </div>
      <div class="my-4">
        <h3>Indication:</h3>
        <p><b>Methyllithium</b> is a primary organolithium reagent used in organic synthesis and organometallic chemistry. It has an oligomeric shape in both solid and liquid form. It is highly reactive and serves as the synthetic equivalent of the methyl anion synthon.</p>
      </div>
      <!-- <div class="my-4">
        <h3>Organometalics Expertise:</h3>
        <p><b>Organometallics</b> was established by <b>Mr. Talupula Venkateswar Rao</b> in the year 2022, our vision is to offer world-class pharma products to our global clients. We continiuosly involved in the manufacture of various Intermediates using lithium compounds especially <b>n-Butyllithium,</b> we have  various API intermediate products and also indulging in Contract manufacturing of API intermediates to reputed pharma companies viz.Viatris(formerly MYLAN LABS), Hetero drigs, USV Ltd etc.</p>
        <p><b>Organometallics</b> was established by <b> Mr. Talupula Venkateswar Rao </b> in the year 2022, our vision is to offer world-class pharma products to our global clients. We continiuosly involved in the manufacture of various Intermediates using lithium compounds especially <b>n-Butyllithium,</b> manufacturer with clients in both the domestic and international markets. we have  various API intermediate products and also indulging in Contract manufacturing of API intermediates to reputed pharma companies viz.Viatris(formerly MYLAN LABS), Hetero drigs, USV Ltd etc.</p>
        <p><b>Organometallics</b> is rapidly expanding by providing high-quality, low-cost products. We have world-class manufacturing facilities, which aids in the strategic development of innovative products. We are reliable <b>Methyllithium Manufacturers in India,</b> providing the best products in the industry and ensuring on-time delivery.</p>
    </div> -->
  </div>
</div>
