<div class="blog">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="page-wraper">
        <div class="page-content bg-gray">
          <div class="content-inner-2 bg-gray">
            <div class="container">
              <div class="row">
                <ng-template [ngIf]="layout.sidebar">
                  <div
                    class="col-xl-3 col-lg-4"
                    *ngIf="layout.sidebarPosition == 'left'"
                  >
                    <aside class="side-bar sticky-top">
                    </aside>
                  </div>
                </ng-template>
                <div
                  class=""
                  [ngClass]="{
                    'col-xl-12 col-lg-8': layout.sidebar === true,
                    'col-xl-12 col-lg-12': layout.sidebar === false
                  }"
                >
                  <!-- Blog half image -->
                  <div class="blog-post blog-md clearfix">
                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                      <a
                        ><img
                          src="../../../assets/images/blog/water-bodies.jpg"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-post-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a>Conservation of Water Bodies :</a>
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          As the heavy industrial discharges and wastes quite
                          often get discharged into rivers and other water
                          bodies, enough concern must be directed towards
                          avoiding such Water pollution through process of
                          releasing harmful chemical discharges into water
                          bodies without pre-processing filtering the dangerous
                          substances, thereby saving the fresh water eco
                          systems.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="blog-post blog-md clearfix">
                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                      <a
                        ><img
                          src="../../../assets/images/blog/fossil-fuels.jpg"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-post-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a>Conservation of Fossil fuels :</a>
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Enough care must be taken to avoid the usage and
                          utilisation of Fossil fuels as the Energy determinants
                          for the Industrial ventures as they deplete the planet
                          of the natural resources balance and steps should
                          focus on preferring alternate sources of energy.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="blog-post blog-md clearfix">
                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                      <a
                        ><img
                          src="../../../assets/images/blog/paper-pulp.jpg"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-post-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a>Conservation of paper pulp:</a>
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Enough care must be instituted into minimising the
                          Usage of paper pulp and allied plant products in all
                          the Industrial and Official applications, thereby
                          conserving the most precious Floral systems, an urgent
                          need of the hour.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="blog-post blog-md clearfix">
                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                      <a
                        ><img
                          src="../../../assets/images/blog/air-quality.jpg"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-post-info">
                      <!-- <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-date"> <strong>16 Aug</strong> <span> 2016</span> </li>
                                                <li class="post-author"> By <a href="javascript:void(0);">Harry</a> </li>
                                            </ul>
                                        </div> -->
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a>Conservation of Air quality</a>
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          It’s been a common feature to find the Most Toxic and
                          Dangerous Emissions emanated as By-products in all the
                          Chemical Reactions being released Un-filtered as such
                          into immediate atmosphere, making it just horrible for
                          the human settlements and communities to languish in
                          much dreaded Lung and Respiratory issues,
                          necessitating for a thorough End to End filtration
                          process to avoid inviting such an environmental
                          catastrophe.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="blog-post blog-md clearfix">
                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                      <a
                        ><img
                          src="../../../assets/images/blog/conversation-of-Energy.jpg"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-post-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a>Conservation of Energy:</a>
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Though it is Inevitable to run any Industrial process
                          without the application of viable energy, it is but
                          mandatory to regulate all the unwarranted and
                          misguided wastages of energy for energy saved amounts
                          to energy created and also would lessen the evil some
                          effect on the natural scenario.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
