<div class="reaction m-5 mx-0">
  <div class="container">
    <div class="table-1 m-5 mx-0">
      <h2 class="m-5 mx-0">Reaction Capabilities</h2>

      <table class="table border">
        <thead>
          <tr class="text-center">
            <th
              colspan="12">
              All Types of Alkali Metal Reactions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border">
              <div *ngFor="let product of productData">
                <p>{{ product.productName }}</p>
              </div>
            </td>
            <td class="border">
              <div *ngFor="let product2 of product2">
                <p>{{ product2.productName }}</p>
              </div>
            </td>
            <td class="border">
              <div *ngFor="let product3 of product3">
                <p>{{ product3.productName }}</p>
              </div>
            </td>
            <td class="border">
              <div *ngFor="let product4 of product4">
                <p>{{ product4.productName }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">

</div>
