<footer class="footer-area">
  <section class="how-work-area">
    <div class="container">

      <div class="row m-0 justify-content-center">
        <div class="col footer-widget footer-widget-about colum1">
          <div class="footer-widget__content">
            <img src="../../../assets/images/logos/Organo-Metallics.svg" alt="logo" class="mb-30"
              style="width: 300px; height: 50px" />
            <p class="mb-40">
              ORGANOMETALLICS Pvt Ltd, manufacturing n-Butyllithium and other
              organometallic products, Metal Amides & Alkoxides, Grignard
              Reagents, Turbo Grignard and other Lithium downstream products
              in the facility situated at Malkapur Village, Choutuppal,
              Yadadri-Bhuvanagiri District.
            </p>
            <div class="footer-widget__content">
              <p class="footer-widget__title heading1">
                <b>ORGANOMETALLICS PRIVATE LIMITED</b>
              </p>
              <div class="footer-widget__content">
                <nav>
                  <ul class="list-unstyled">
                    <li class="m-0">
                      <span class="adderss"><b>Regd.Office Address</b>: Flat No.302, Bhanu Enclave,
                        Erragadda, Hyderabad-500038, Telangana, India. </span>

                    </li>
                    <li class="m-0">
                      <span class="adderss">
                        <b> Contract Manufacturer Address</b>: Sy.No.300,
                        Malkapur Village, Choutuppal Mandal, Yadadri-Bhuvanagiri District, 508 252, Telangana,India.</span>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row p-0">
            <!-- <div class="col footer-widget footer-widget-nav footer-nav1 ">
              <div class="footer-widget__content ps-5">
                <p class="footer-widget__title "><b>Quick Links</b> </p>
                <nav>
                  <ul class="list-unstyled">
                    <li>
                      <a routerLink="about-us" RouterActive="active" (click)="scrollToTop()">About Us</a>
                    </li>
                    <li>
                      <a routerLink="Products" RouterActive="active" (click)="scrollToTop()">Products</a>
                    </li>

                    <li>
                      <a routerLink="reaction-capabilities" RouterActive="active" (click)="scrollToTop()">Reaction Capabilities                      </a>
                    </li>
                    <li>
                      <a routerLink="carrers" RouterActive="active" (click)="scrollToTop()">Careers</a>
                    </li>
                    <li>
                      <a routerLink="gallery" RouterActive="active" (click)="scrollToTop()">Gallery</a>
                    </li>
                    <li>
                      <a routerLink="blog" RouterActive="active" (click)="scrollToTop()">Blog</a>
                    </li>
                    <li>
                      <a href="" routerLink="contact-us" RouterActive="active" (click)="scrollToTop()">Contact Us</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div> -->
            <div class="col footer-widget footer-widget-nav footer-nav1">
              <div class="footer-widget__content">
                <p class="footer-widget__title"><b> General Enquires</b> </p>
                <ul class="contact p-0">
                  <li>
                    <a href="mailto:info@organometallics.in"><i class="far fa-envelope"></i> info@organometallics.in</a>
                  </li>
                  <li>
                    <a href="mailto:tvrao@organometallics.in">
                      <i class="far fa-envelope"></i>
                      tvrao@organometallics.in
                    </a>
                  </li>
                  <li>
                    <a href="mailto:purchase@organometallics.in">
                      <i class="far fa-envelope"></i>
                      purchase@organometallics.in
                    </a>
                  </li>

                  <li>
                    <a href="mailto:organompl@gmail.com">
                      <i class="far fa-envelope"></i> organompl@gmail.com</a>
                  </li>


                </ul>
                <div class="bs-enquires">
                  <p class=" mb-0 mt-3"><b> Business Enquires</b></p>
                  <ul class=" p-0">
                    <li>
                      <a href="mailto:sales@organometallics.in">
                        <i class="far fa-envelope"></i>
                        sales@organometallics.in
                      </a>
                    </li>
                    <li>
                      <a href="tel:9346613110"> <i class="fa fa-phone"></i> 9346613110</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col footer-widget footer-widget-nav footer-nav1 mobile ">
              <!-- <h6 class="footer-widget__title"><b> </b></h6> -- -->
              <div class="footer-widget__content row p-0 px-0 mx-0 ">
              <p class="my-0 mt-3 p-0 footer-widget__title"><b>Get in Touch</b></p>
                <ul class="p-0">
                  <li>
                    <a href="tel:04029325728"><i class="fa fa-phone" aria-hidden="true"></i> 04029325728</a>
                  </li>
                  <li>
                    <a href="tel:9676667175">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      9676667175
                    </a>
                  </li>
                  <li>
                    <a href="tel:9705345345">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      9705345345
                    </a>
                  </li>
                  <li>
                    <a href="tel:9391016448">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      9391016448
                    </a>
                  </li>
                </ul>
                <div class="footer-widget__content p-0 bs-enquires">
                  <div class="footer-widget__content row p-0 px-0 mx-0">
                    <p class="footer-widget__title p-0"><b>Follow Us On </b></p>
                    <ul class="icons">
                      <li>
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/organometallic_" target="_blank"><i class="fab fa-twitter-square"></i></a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/organometallics-private-limited-366358254/?originalSubdomain=in" target="_blank"><i class="fab fa-linkedin"></i></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/_organometallics/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col ">
          <div class="d-flex">
            <div class="col footer-widget footer-widget-nav footer-nav1 ">
              <h6 class="footer-widget__title">Quick Links</h6>
              <div class="footer-widget__content">
                <nav>
                  <ul class="list-unstyled">
                    <li>
                      <a
                        routerLink="existing-products"
                        RouterActive="active"
                        (click)="scrollToTop()"
                        >Products</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="existing-products"
                        RouterActive="active"
                        (click)="scrollToTop()"
                        >Products</a
                      >
                    </li>

                    <li>
                      <a
                        routerLink="existing-products"
                        RouterActive="active"
                        (click)="scrollToTop()"
                        >Products</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="carrers"
                        RouterActive="active"
                        (click)="scrollToTop()"
                        >Careers</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="blog"
                        RouterActive="active"
                        (click)="scrollToTop()"
                        >Blog</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        routerLink="contact-us"
                        RouterActive="active"
                        (click)="scrollToTop()"
                        >Contact Us</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col footer-widget footer-widget-nav footer-nav2 pe-3">
              <div class="footer-widget__content">
                <h6 class="footer-widget__title">Social Connect</h6>
                <div class="footer-widget__content row p-0 px-0 mx-0">
                  <ul class="icons">
                    <li>
                      <a href="https://www.facebook.com" target="_blank"
                        ><i class="fab fa-facebook-square"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://twitter.com" target="_blank"
                        ><i class="fab fa-twitter-square"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com" target="_blank"
                        ><i class="fab fa-linkedin"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com" target="_blank"
                        ><i class="fab fa-instagram-square"></i
                      ></a>
                    </li>
                  </ul>
                  <p class="my-0 mt-3 p-0 footer-widget__title"><b>Connect via Mails:-</b></p>
                  <!-- <h6 class="footer-widget__title">Connect via Mails</h6> --
                  <ul class="contact p-0">
                    <li>
                      <a href="mailto:info@organometallics.in"
                        ><i class="far fa-envelope"></i
                        >info@organometallics.in</a
                      >
                    </li>
                    <li>
                      <a href="mailto:tvrao@organometallics.in">
                        <i class="far fa-envelope"></i
                          >
                        tvrao@organometallics.in
                      </a>
                    </li>
                    <li>
                      <a href="mailto:purchase@organometallics.in">
                      <i class="far fa-envelope"></i
                        >
                      purchase@organometallics.in
                    </a>
                    </li>

                    <li>
                      <a href="mailto:organompl@gmail.com">
                        <i class="far fa-envelope"></i
                          >organompl@gmail.com</a>
                    </li>
                    <p class=" my-0 mt-2"><b>For Sales Contact:-</b></p>
                    <li>
                      <a href="mailto:sales@organometallics.in">
                      <i class="far fa-envelope"></i
                        >
                        sales@organometallics.in
                    </a>
                    </li>
                    <li>
                      <a href="tel:9346613110"> <i class="far fa-envelope"></i
                        >9346613110</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col footer-widget footer-widget-nav footer-nav2">
              <div  class="footer-widget__content">
                <p class="my-0 mt-3 p-0 footer-widget__title"><b>Mobile Numbers</b></p>
                <!-- <h6 class="footer-widget__title"><b> </b></h6> --
                <div class="footer-widget__content row p-0 px-0 mx-0">
                  <ul class="p-0">
                    <li>
                      <a href="tel:04029325728"
                        ><i class="fa fa-phone" aria-hidden="true"></i
                        >04029325728</a
                      >
                    </li>
                    <li>
                      <a href="tel:9676667175">
                        <i class="fa fa-phone" aria-hidden="true"></i
                          >
                        9676667175
                        </a>
                    </li>
                    <li>
                      <a href="tel:9705345345">
                        <i class="fa fa-phone" aria-hidden="true"></i
                          >
                        9705345345
                      </a>
                    </li>
                    <li>
                      <a href="tel:9391016448">
                        <i class="fa fa-phone" aria-hidden="true"></i
                          >
                        9391016448
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div> -->
    </div>
    <p class="copyright">Copyright @ 2022 All Rights Reserved.</p>
  </section>
</footer>

<ngx-scrolltop></ngx-scrolltop>








