<div class="director2 m-5 mx-0 pt-5">
  <div class="container">
    <div class="d-flex">
      <div class="">
        <img src="../../../assets/DIRECTORS/lakshmi-varaprasad.jpg" alt="" />
      </div>
      <div class="">
        <div class="heading">
          <h2>DR. LAXMI VARA PRASAD,MBBS(MS)</h2>
          <h3>DIRECTOR</h3>
        </div>
        <p>
          The Doctor turned industrialist stands at an Interesting phase of
          Pharma progression which characterizes best the sweeping changes that
          have been in fore in the Industry..and here we have DR. Laxmi vara
          Prasad Reddy catapulting himself into the higher echelons of Bulk drug
          manufacture,asserting his familiar connection with the manufacture
          Industry as a precious hereditary Obsession.
        </p>
        <p>
          The Dramatic turn to shift towards the Pharma happened in times of the
          dramatic pandemic which loomed across the whole world claiming a large
          chunk of lives surfacing the hard Truth about the terrible lack of
          life- saving drugs and the much needed vaccines in most parts of the
          Globe ..the severity being acute in the Third world quite
          evidently..resulting in a deep commitment within him to pave pathways
          for providential Research and precocious Drug manufacture..to emerge
          clear of the present critical situations prevailing.
        </p>
        <p>
          Asserting with all confidence, the Felt need for the generation of a
          New range of Pharma Products Especially , the Anti Viral drugs and the
          development of Steroids and allied vaccines to help save lives has
          virtually become a life passion for this young Doctor.
        </p>
        <p>
          Dr. Laxmi vara Prasad looks into future to for being a part of that
          wave of Dynamic aspiration to build the strongest Networks of Pharma
          Products to make Healthy living a Reality.
        </p>
      </div>
    </div>
  </div>
</div>
