<!-- <div class="products">
    <div class="container">

       <div class="table-2 m-5 mx-0 ">
        <h1 class="text-center m-5 mx-0 p-2 px-0">Up Coming Products</h1>
        <h2 class="">METAL AMIDES & ALKOXIDES</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Product Details</th>
                <th scope="col">Insolvents</th>
                <th scope="col">CAS No.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Sodium HMDS</td>
                <td>40% in THF</td>
                <td>[1070-89-9]</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Lithium HMDS</td>
                <td>20% in THF</td>
                <td>[4039-32-1]</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Potassium HMDS</td>
                <td>20% in THF</td>
                <td>[40949-94-8]</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Lithium tert-butoxide</td>
                <td>1M in THF</td>
                <td>[1907-33-1]]</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td >Lithium diisopropylamidem</td>
                <td>1M / 2M in THF</td>
                <td>[4111-54-0]]</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td >Potassium Tert. Butoxide</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>

          </table>

       </div>
       <div class="table-3 m-5 mx-0 ">
        <h2 class="">GRIGNARD REAGENTS</h2>
        <table class="table table-striped">

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Methyl Magnesium Chloride 3M in THF</td>
                <td>Iso-Propyl Magnesium Chloride</td>
                <td>Sec-butyl magnesium chloride</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Tert-butyl magnesium chloride</td>
                <td>Phenyl magnesium chloride 1M in THF</td>
                <td>Methyl Magnesium Bromide </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Benzyl Magnesium Chloride 2M in THF</td>
                <td>Phenyl Magnesium Bromider</td>
                <td>Ethyl Magnesium Bromide 1M in THF & 3M in DEE</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Isopropyl magnesium Chloride 2M in THF</td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>
       </div>
       <div class="table-4 m-5 mx-0 ">
        <h2 class="">TURBO GRIGNARDSS</h2>
        <table class="table table-striped">

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Iso-propyl magnesium chloride with 1.3M in Licl in THF</td>
                <td>Sec-butyl magnesium chloride with Licl in THF</td>
              </tr>
            </tbody>
          </table>
       </div>
       <div class="table-5 m-5 mx-0 ">
        <h2 class="">OTHER PRODUCTS</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Product Details</th>
                <th scope="col">Insolvents</th>
                <th scope="col">CAS No.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>DIBAL-H</td>
                <td>1M in THF & in Tolune</td>
                <td>[1191-15-7]</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Lithium Aluminium Hydride</td>
                <td>2 M in THF</td>
                <td>[16853-85-3]</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Diethyl Zinc</td>
                <td>1M in Hexane</td>
                <td>[557-20-0]</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Rimethyl aluminium </td>
                <td>2 M in Heptane, hexane, toluenee</td>
                <td>[75-24-1]</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td >Borane DMS</td>
                <td>10M in DMS</td>
                <td>[13292-87-0]</td>
              </tr>

              <tr>
                <th scope="row">6</th>
                <td >Borane THF</td>
                <td>1M in THF</td>
                <td>[14044-65-6]</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td >Vitride 65% </td>
                <td>In Toluene</td>
                <td>[22722-98-1]</td>
              </tr><tr>
                <th scope="row">8</th>
                <td >Boran Tri Bromide </td>
                <td>1M in DCM</td>
                <td>[10294-33-4]]</td>
              </tr>

              <tr>
                <th scope="row">9</th>
                <td >4-Fluoro phenyl Mg. Bromide </td>
                <td>1 M in THF</td>
                <td>[1378867-70-9]</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td >Allyl Mg. Bromide </td>
                <td>1M in DEE</td>
                <td>[1730-25-2]</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td >4-Chloro phenyl Mg. Bromide </td>
                <td>1M in DEE</td>
                <td>[873-77-8]</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td >Benzyl Mg. Chloride</td>
                <td>2M in THF & DEE</td>
                <td>[100-44-7]</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td >Cyclopropoyl Mg. Bromide </td>
                <td>0.5 M in THF</td>
                <td>[7051-34-5]</td>
              </tr>
            </tbody>
          </table>
       </div>
    </div>
</div> -->


<!-- <table>
    <tbody>
        <tr *ngFor=" let productsList  of product">
            <td>{{productsList.id}}</td>
            <td>{{productsList.productname}}</td>
            <td>{{productsList.productsolvents}}</td>
            <td>{{productsList.cas}}</td>
        </tr>
    </tbody>
</table> -->


<div class="product">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="main-banner item-bg-one">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                                <div class="main-banner-text">
                                    <h2 style="color: black; font-weight: normal; font-size: 50px; margin-top: -80px; background-color: #fff; text-align: center;">This site is under process</h2>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
