<div class="container marketing">

    <!-- Three columns of text below the carousel -->



    <!-- START THE FEATURETTES -->

    <!-- <hr class="featurette-divider"> -->
<div class="m-5 mx-0">
    <div class="row featurette align-items-center">
        <div class="col-md-7">
          <h4 class="featurette-heading fw-normal lh-1">MR. T.VENKATESWARA RAO <span class="text-muted">MANAGING DIREDCTOR-ORGANO METALLICS</span> </h4>
          <p class="lead">An Esteemed Pharma  Researcher and an Invigorating Industrialist, Mr. TV Rao had been closely associated with the formative period wherein the  very foundations of the Pharma  Industry especially in Hyderabad  were being made making it as the Realistic Pharma Hub ..And the deep passion for the Organic Research has turned the Chemist in him into an Industrialist ..for translating the Innate objectives of making drugs available to common man at quite an affordable prices.</p>
          <p class="lead">His buoyant attitude and an audacious mind led him to establish the Pharma manufacturing facility on his own in alliance with other Enterprising Entrepreneurs starting with the development of Pharma Intermediates and later shifting the focus on to the Cardinal functionality of Bulk drug manufacturing with the year 2014 finding him establishing the Sunlight Active drug Ingredients(P) Ltd specializing in the manufacture of Bulk drug Intermediates, Fine and Specialty Chemicals, powered with a State of the Art Production facilities at IDA Kazipally in the jinnaram Mandal of Sangareddy District in Telangana State as also by being the Managing Director  of Sainor group of Companies, with the perennial  passion for Pharma Research and Manufacture of Much needed Drugs  for over Three decades.</p>
          <p></p>
          <p></p>
        </div>
        <div class="col-md-5">
          <img src="../../../assets/DIRECTORS/tv-rao.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette align-items-center">
        <div class="col-md-7 order-md-2">
          <!-- <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2> -->
          <h4 class="featurette-heading fw-normal lh-1">DR. LAXMI VARA PRASAD,MBBS(MS) <span class="text-muted">DIRECTOR-ORGANO METALLICS</span> </h4>
          <p class="lead">The Doctor turned industrialist  stands at an Interesting phase of Pharma progression which characterizes best the sweeping changes that have been in fore in the Industry..and here we have DR. Laxmi  vara Prasad Reddy catapulting himself into the higher echelons of Bulk drug manufacture,asserting his familiar connection with the manufacture Industry as a precious hereditary Obsession.</p>
          <p class="lead">The Dramatic turn to shift towards the Pharma happened in  times of the dramatic pandemic  which loomed across the whole world claiming a large chunk of lives surfacing the hard Truth about the terrible lack of life- saving drugs and the much needed vaccines in most parts of the Globe ..the severity being acute in the Third world quite evidently..resulting in a  deep commitment within him to pave pathways for providential Research and precocious Drug manufacture..to emerge clear of  the present critical situations prevailing.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="../../../assets/DIRECTORS/lakshmi-varaprasad.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette align-items-center">
        <div class="col-md-7">
          <!-- <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2> -->
          <h4 class="featurette-heading fw-normal lh-1">MRS.VIJAYA LAKSHMI<span class="text-muted"> THE TOWER OF INSPIRATION:</span> </h4>
          <p class="lead">Bringing to Reality the time tested adage that "Behind the success of everyman is a woman", we have Mrs. Vijayalakshmi, the Director at organo-metallics API Ltd as well as Organometallics Pvt Ltd whose Invariable Incessant support has turned the dreams of the eminent Research Chemist-Industrialist DR. N.V Rao to establish the Mighty Empire of organo-metallics with an abounding employee count exceeding four thousands, providing her Incisive Analytical skills in not only framing the Policies but in Actualizing the Realistic targets, standing as a backbone to the Founder-Chairman DR.N.V Rao and the Legacy continues.</p>
          <p class="lead">Born to Illustrious parents Mr. SriramMurthy, a retired Superintendent with PWD and Mrs. Sita Mahalakshmi at Narsapur in West Godavari of Andhra Pradesh proved herself as a scholar in English equipping herself with a Master’s degree in English literature apart from providing domestic help to her mother in raising her siblings as he happened to the eldest with all due care and concern displaying her Innate core strength of responsibility ever from a tender age which later found its fullest expression in grooming their two children Mr. Harsha married to Ms. Yagna and Mr.Hardev wedded to Ms.Snehitha into Finest Frontline Leaders of the Organization as also in Raising organo-metallics as a Pharma Giant.</p>
        </div>
        <div class="col-md-5">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img src="../../../assets/DIRECTORS/vijaya-lakshmi.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">
</div>


    <!-- /END THE FEATURETTES -->

  </div>
