
<div class="gallery1">
  <div class="container">
  </div>
</div>
<div class="gallery1">
  <div class="container">
    <div class="d-flex text-center justify-content-center">
      <div class="col">
        <div class="row align-items-end justify-content-center">
          <div class="col">
            <img src="../../../assets/images/gallery/Building.png" alt="" />
            <p>Facility</p>
          </div>
          <div class="col">
            <img src="../../../assets/images/gallery/Lab.png" alt="" />
            <p>Lab</p>
          </div>
          <div class="col">
            <img src="../../../assets/images/gallery/Packing.png" alt="" />
            <p>Warehouse</p>
          </div>
          <div class="col">
            <img src="../../../assets/images/gallery/Plant.png" alt="" />
            <p>Manufacturing </p>
          </div>
          <div class="col">
            <img src="../../../assets/images/gallery/Cylenders.png" alt="" />
            <p>Packing Cylinders</p>
          </div>
        </div>
      </div>
      <div class="col">
        <h2 class="text-center">Capacity SS Cylinders</h2>
        <div class="row align-items-end justify-content-center">
          <div class="col">

            <img
              src="../../../assets/images/gallery/Cylender.png"
              alt=""
              class="cylender4"
            />
            <p>25 ltr</p>
          </div>

          <div class="col">
            <img
              src="../../../assets/images/gallery/Cylender.png"
              alt=""
              class="cylender3"
            />
            <p>50 ltr</p>
          </div>
          <div class="col">
            <img
              src="../../../assets/images/gallery/Cylender.png"
              alt=""
              class="cylender2"
            />
            <p>100 ltr</p>
          </div>
          <div class="col">
            <img
              src="../../../assets/images/gallery/Cylender.png"
              alt=""
              class="cylender1"
            />
            <p>450 ltr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

