<div class="product-bg">
  <div class="container">

    <nav>
      <p class="title">N-Butyllithium Manufacturers in India</p>
      <ol class="cd-breadcrumb">
        <li><a routerLink="/home">Home</a><i class="fa-solid fa-chevron-right"></i></li>

        <li class="current"><em>N-Butyllithium Manufacturers in India</em></li>
      </ol>
    </nav>
  </div>
</div>
<div class="product1">
  <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-7">
          <h1 class="my-5">N-Butyllithium Manufacturers in India</h1>
          <div>
            <p>For the best <b>N-BUTYLLITHIUM MANUFACTURERS IN INDIA,</b> head to Organo Metallics. </p>
            <p>Founded in 2007 by two highly accomplished individuals specialising in the field of organometallic applications, we seek to provide high-quality organometallic compounds for a diverse range of industries, particularly in pharmaceuticals and agrochemicals. We specialise in contract manufacturing projects for our clients and adhere to a slew of quality regulations that inspires much-needed confidence in our clients. This includes FDA, ISO 9001, ISO 14001, and ISO 45001 among others. Some of our offerings include n-butyllithium, metal amides, alkoxides, grignard reagents, turbo grignard, and lithium downstream products among others. </p>
            <p>As a market-leading <b>N-BUTYLLITHIUM MANUFACTURER IN INDIA,</b> we are dedicated to delivering not just exceptional products but also impeccable customer service to our customers. We are committed to developing sustainable and effective production services while adhering to the highest levels of quality control measures to ensure the purity and integrity of each product. </p>
              <p> Here at Organo Metallics, we are proud of our achievements and humbled by our customer's faith in our commitment, vision, and perseverance. We look forward to continuing in the same direction and helping bring about some quantum changes in the industry. </p>
              <p>  To know more about the top <b>N-BUTYLLITHIUM MANUFACTURER IN INDIA,</b> contact our team today!</p>
          </div>
        </div>
        <div class="col-5">
          <img src="../../../assets/images/products/product1.png"
          alt="N-BUTYLLITHIUM MANUFACTURERS IN INDIA" title="N-BUTYLLITHIUM MANUFACTURERS IN INDIA">
        </div>
      </div>
      <!-- <div class="my-4">
        <h3>Product Description:</h3>
        <ul>
          <li>CAS Number : 109-72-8</li>
          <li>Molecular Formula : C4H11N</li>
          <li>Molecular Weight : 73.14 g/mol</li>
          <li>In solvents : Hexane, Heptane, Toluene & Cyclohexane</li>
        </ul>
      </div>
      <div class="my-4">
        <h3>Indication:</h3>
        <p><b>n-Butyllithium</b> is a common initiator for anionic polymerization reactions involving molecules such as butadiene, isoprene, and styrene</p>
      </div> -->

      <!-- <div class="my-4">
          <h3>Organometalics Expertise:</h3>
          <p>Organometallics was established by Mr. TalupulaVenkateswar Rao in the year 2022, Ourvision to offer world-class pharma products to our global clients. </p>
          <p><b>Organometallics</b> was established by <b> Mr. Talupula Venkateswar Rao </b> in the year 2022, our vision is to offer world-class pharma products to our global clients. We continiuosly involved in the manufacture of various Intermediates using lithium compounds especially <b>n-Butyllithium,</b> manufacturer with clients in both the domestic and international markets. we have  various API intermediate products and also indulging in Contract manufacturing of API intermediates to reputed pharma companies viz.Viatris(formerly MYLAN LABS), Hetero drigs, USV Ltd etc.</p>
          <p><b>Organometallics</b> is rapidly expanding by providing high-quality, low-cost products. We have world-class manufacturing facilities, which aids in the strategic development of innovative products. We are reliable <b>n-Butyllithium Manufacturers in India,</b> providing the best products in the industry and ensuring on-time delivery.</p>
      </div> -->
  </div>
</div>
